.contact-form {
    padding: 40px;
    margin: 40px auto;
    max-width: 600px;
}

.contact-form .title {
    color: #6e6f6f; 
    text-align: center;
    margin: 10px 0;
}

.contact-form .subtitle {
    text-align: center;
    margin: 10px 0;
}

.contact-form .textfield {
    margin: 10px 0;
}

.contact-form .submit {
    margin: 10px 0;
}

.contact-form .social-wrapper {
    margin: 10px auto;
    display: table;
}

.contact-form .social-wrapper svg {
    margin: 0 5px;
}