.register-form {
    padding: 40px;
    margin: 40px auto;
    max-width: 600px;
}

.register-form .title {
    color: #6e6f6f; 
    text-align: center;
    margin: 10px 0;
}

.register-form .textfield {
    margin: 10px 0;
}

.register-form .submit {
    margin: 10px 0;
}

.typeform-full {
    padding: 20px 0 0 0;
    height: calc(100vh - 80px);
}